#!/usr/bin/env ruby

require 'erb'

EFISP	= 'UUID=C601-DDEF'
SWAP	= 'UUID=f3968773-2e5e-4d6f-8bc9-7bb346a8d508'

def mount_table
  File.read('/proc/mounts')
    .lines
    .map(&:chomp)
    .map { |x| x.split(/\s+/, 6) }
end

def current_root_mount
  mount_table
    .filter { |x| x[1] == '/' }
    .first
end

def current_distro
  File.basename(current_root_mount[0]).to_sym
end

CURRENT_DISTRO = (ARGV.first || current_distro).to_sym

ALPINE  = if CURRENT_DISTRO == :alpine  then '' else '/lisbon/alpine'  end
ARCH    = if CURRENT_DISTRO == :arch    then '' else '/lisbon/arch'    end
DEBIAN  = if CURRENT_DISTRO == :debian  then '' else '/lisbon/debian'  end
FEDORA  = if CURRENT_DISTRO == :fedora  then '' else '/lisbon/fedora'  end
FREEBSD = if CURRENT_DISTRO == :freebsd then '' else '/lisbon/freebsd' end

def mount(device, point, fstype, opts, dump, pass)
  [device, point, fstype, opts, dump, pass].map(&:to_s).join(' ')
end

def zfsmount(dataset, point)
  mount dataset, point, 'zfs', %w{rw xattr posixacl}.join(','), 0, 0
end

def path_of(*xs)
  x = File.join(*xs).delete_suffix('/')
  x.empty? ? '/' : x
end

def sysmount(system, point)
  system_ = system.to_s
  dataset = path_of 'lisbon', 'ROOT', system_, point
  point   = if CURRENT_DISTRO == system
            then path_of '', point
            else path_of '', 'lisbon', system_, point
            end
  zfsmount dataset, point
end

template = ERB.new DATA.read
print template.result

__END__

# See fstab(5) for details.     -*- conf-space -*-
# Static information about the filesystems.

# <file system> <dir> <type> <options> <dump> <pass>

# EFI system partition:
<%= EFISP %>	/boot/EFI	vfat	ro,relatime	0 0

# Swap:
<%= SWAP %> none swap defaults 0 0

# ZFS pool `lisbon':
<%= sysmount(:alpine,  '/') %>

<%= sysmount(:arch,    '/') %>

# <%= sysmount(:debian,  '/') %>
# <%= sysmount(:debian,  '/usr') %>
# <%= sysmount(:debian,  '/usr/local') %>
# <%= sysmount(:debian,  '/var') %>
# <%= sysmount(:debian,  '/var/cache') %>
# <%= sysmount(:debian,  '/var/lib') %>
# <%= sysmount(:debian,  '/var/log') %>
# <%= sysmount(:debian,  '/var/obj') %>
# <%= sysmount(:debian,  '/var/spool') %>
# <%= sysmount(:debian,  '/var/tmp') %>

<%= sysmount(:fedora,  '/') %>
<%= sysmount(:fedora,  '/usr') %>
<%= sysmount(:fedora,  '/usr/local') %>
<%= sysmount(:fedora,  '/var') %>
<%= sysmount(:fedora,  '/var/cache') %>
<%= sysmount(:fedora,  '/var/cache/mock') %>
<%= sysmount(:fedora,  '/var/lib') %>
<%= sysmount(:fedora,  '/var/lib/mock') %>
<%= sysmount(:fedora,  '/var/lib/nfs') %>
<%= sysmount(:fedora,  '/var/log') %>
<%= sysmount(:fedora,  '/var/obj') %>
<%= sysmount(:fedora,  '/var/spool') %>
<%= sysmount(:fedora,  '/var/tmp') %>

<%= sysmount(:freebsd, '/') %>
