/*
:Author:    Jashank Jeremy
:Contact:   jashank.jeremy@unsw.edu.au
:Copyright: This stylesheet has been placed in the public domain.
*/

.document, .footer {
	max-width: 50em;
	margin: 0 auto }
hr.footer {
	display: none }

.literal {
	font-family: monospace; }
